@import "tailwindcss";

@font-face {  
    font-family: "Nunito";  
    font-style: normal;  
    font-weight: 400 700;  
    font-display: swap;  
    src: url("/fonts/Nunito-VariableFont_wght.ttf") format("ttf");
}

@theme {  
    --font-catalogo-nunito: "Nunito", "sans-serif"; 
    --color-pastel-mint: hsl(170, 75%, 75%);
    --color-pastel-pink: hsl(355, 100%, 50%);
    --color-pastel-blue: hsl(210, 85%, 75%);
    --color-pastel-peach: hsl(35, 85%, 78%);
    --color-soft-white: hsl(0, 0%, 98%);
    --color-blue-cyan: hsl(170, 60%, 90%);
    --color-accent-dark: hsl(355, 100%, 50%);
    --color-text-dark: hsl(0, 0%, 20%);
}

/* 
  FONDO DE LA APLICACIÓN
  Cambiar --color-bg-app por un url() para usar imagen de fondo:
  background-image: url('path/to/image.jpg');
  background-size: cover;
  background-attachment: fixed;
*/
body {
    background-color: var(--color-soft-white);
    /* background-image: url(''); */ /* Descomenta para usar imagen de fondo */
}

.margin-responsive{
    @apply sm:mx-10 md:mx-20 lg:mx-30
}

.category-button{
    @apply bg-blue-cyan text-accent-dark font-bold px-4 py-1 rounded-2xl border-3 border-pastel-blue cursor-pointer hover:border-pastel-blue transition-colors
}

.active{
    @apply bg-pastel-mint text-accent-dark;
}